.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    
} 

.input p {
    font-size: 1.2rem;
}

.input input {
    margin-top: -0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid #000;
}

.input input:focus {
    border: 1px solid #FF6600;
}